@model Giveonline.Models.ApplicationUser


@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<div id="page-content">
<div class="content-header content-header-media">
    <div class="header-section">
        <img src="/Content/styles/Images/avatar-10.jpeg" alt="Avatar" class="pull-right img-circle" style="height: 64px; width:64px">
    
        <h1>Admin <br><small>Frontend designer &amp; .....</small></h1>
    </div>
    <img src="/Content/styles/Images/profile_header.jpg" alt="header image" class="animation-pulseSlow">
  
</div>

</div>
