@model IEnumerable<Giveonline.Models.Brand>
@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<div id="page-content">
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-file"></i>Alle mærker<br><small>En liste af alle mærker</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Mærker</li>
    <li>Liste af mærker</li>

</ul>
<div class="block block-alt-noborder">
    <a class="btn-top btn btn-primary pull-right" style="margin-right: 15px;" href="/admin/BrandCreate"> <span class="fa fa-plus"></span> Create New</a>
    <h3 class="sub-header">Mærker <small>....en liste af alle mærker</small>
    </h3>

    <table class="table table-striped">
          
        <thead>
        <tr class="row-name">
            <th>Title</th>
            <th>Image</th>
        </tr>
        </thead>

        <tbody>

        @foreach (var brand in Model)
        {
            <tr class="row-content">
                <td>@brand.Title</td>
                
                <td style="width: 100px">
                    @if (brand.ImageUrl.Length > 0)
                    {
                        <img class="img-responsive" style="height: 100px; width: auto" src="~/Uploads/@brand.ImageUrl" alt=@brand.Title/>

                    }
                    else
                    {
                        <img class="img-responsive" style="height: 75px; width: auto" src="~/Content/styles/Images/noImage.png"/>

                    }

                </td>
                
                             
                <td style="text-align: right">
                    <a class="btn btn-danger edit" href="/admin/BrandDelete/@brand.Id" aria-label="Settings">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    &nbsp
                    <a class="btn btn-info edit" href="@Url.Action("BrandEdit", new {id = brand.Id})" aria-label="Settings">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
</div>

