@model Giveonline.Models.Category


@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}


<div id="page-content">
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-pencil"></i>Rediger kategori<br><small>Her kan du redigere i en kategori</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Kategori</li>
        <li>Redigér en kategori</li>
       
    </ul>
    <div class="block block-alt-noborder">
        <h3 class="sub-header">@Model.Title <small>Redigér kategori</small></h3>
        <form role="form" action="/Admin/CategoryEdit" method="post">

            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label class="control-label" for="Title">Title</label>
                <input type="text" value="@Model.Title" class="form-control" name="Title" placeholder="Indtast en Titel">
            </div>

            <button type="submit" class="btn btn-default">Gem</button>
            <a href="@Url.Action("Category")" type="reset" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>

