@model IEnumerable<Giveonline.Models.About>
@{
    ViewBag.Title = "ContentList";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<div id="page-content">
<div class="content-header">

    <ul class="nav-horizontal text-center">
        <li>
            <a href="/admin/index"><i class="fa fa-tachometer"></i> Dashboard</a>
        </li>
        <li>
            <a href="/admin/eventlist"><i class="fa fa-calendar"></i> Events</a>
        </li>
        <li>
            <a href="/admin/donationlist"><i class="fa fa-money"></i> Donations</a>
        </li>
        <li>
            <a href="/admin/storieslist"><i class="fa fa-folder-open"></i> Stories</a>
        </li>
        <li>
            <a href="/admin/Slider"><i class="fa fa-picture-o"></i> Slider</a>
        </li>
        <li class="active">
            <a href="#"><i class="fa fa-users"></i> About Us</a>
        </li>
    </ul>
</div>
<div class="row text-center">
    <div class="col-sm-6 col-lg-6">
        <a href="/Admin/ContentCreate" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-success">
                <h4 class="widget-content-light"><strong>Add New</strong> Content</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
        </a>
    </div>


    <div class="col-sm-6 col-lg-6">
        <a href="javascript:void(0)" class="widget widget-hover-effect2">
            <div class="widget-extra themed-background-dark">
                <h4 class="widget-content-light"><strong>All</strong> Contents</h4>
            </div>
            <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">42</span></div>
        </a>
    </div>
</div>
<div class="block block-alt-noborder">
    <h3 class="sub-header">
        About Us  <small>..mission, vision osv.</small>
    </h3>
    
    <table class="table table-striped">
        <thead>
            <tr class="row-name">
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>

            </tr>
        </thead>
    @foreach (var con in Model)
    {
        <tbody>
        <tr class="row-content" data-id="@con.Id">
            <td style="width: 300px">@con.Title</td>
            <td style="width: 900px">@con.Description</td>
            
            
            <td>
                <a class="btn btn-danger edit" href="/admin/contentDelete/@con.Id" aria-label="Settings">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>

                <a class="btn btn-info edit" href="@Url.Action("ContentEdit", new {id = con.Id})" ar aria-label="Settings">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    }
   
    </table>
</div>
</div>