
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}


<div id="page-content">
    <div class="content-header content-header-media">
   
        <div class="header-section">
            <div class="row">
                <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                    <h1>Welcome <strong>Admin</strong><br><small>You Look Awesome!</small></h1>
                </div>
            </div>
        </div>

        <img src="/Content/styles/Images/dashboard_header.jpg" alt="header image" class="animation-pulseSlow">
    </div>
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <li class="active">
                <a href="/Admin/Index"><i class="fa fa-tachometer"></i> Dashboard</a>
            </li>
            <li>
                <a href="/admin/eventlist"><i class="fa fa-calendar"></i> Events</a>
            </li>
            <li>
                <a href="/admin/donationlist"><i class="fa fa-money"></i> Donations</a>
            </li>
            <li>
                <a href="/admin/storieslist"><i class="fa fa-folder-open"></i> Stories</a>
            </li>
            <li>
                <a href="/admin/contentlist"><i class="fa fa-users"></i> About Us</a>
            </li>
            <li>
                <a href="/admin/Slider"><i class="fa fa-picture-o"></i> Slider</a>
            </li>
            <li>
                <a href="/Admin/Order"><i class="fa fa-shopping-basket"></i> Orders</a>
            </li>
        
            <li>
                <a href="/Admin/ProductList"><i class="fa fa-shopping-bag"></i> Products</a>
            </li>
    
        </ul>
</div>

    <div class="row text-center">
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background">
                    <h4 class="widget-content-light"><strong>Upcomming</strong> Events</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 animation-expandOpen">3</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Newest</strong> Stories </h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">2</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Orders</strong> Today</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">2</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Donations</strong> Today</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">&pound; 4.250</span></div>
            </a>
        </div>
    </div>
    
    
    
  
    

</div>





